.bar {
    background: transparent;
    color: @theme_fg_color;
    font-weight: bold;

    &>centerbox {
        background: @theme_bg_color;
        border-radius: 10px;
        margin: 8px;
    }

    & button {
        border-radius: 8px;
        margin: 2px;
    }

    & .left {
        margin-left: 1em;
    }
}
