.bar {
    background: transparent;
    color: white;
    font-weight: bold;
}

.bar>centerbox {
    background: #232323;
    border-radius: 10px;
    margin: 8px;
}

.bar button {
    border-radius: 8px;
    margin: 2px;
}

.bar .left {
    margin-left: 1em;
}
